
<table class="table" border="2" >
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Mob.No</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
</thead>
<tbody>
    <!-- <tr *ngFor="let s of student"> -->
        <tr *ngFor="let s of student">
        <td>{{s.name}}</td>
        <td>{{s.email}}</td>
        <td>{{s.mobNo}}</td>
        <td><button (click)="delete(s.id)">Delete</button></td>
        <td><button (click)="update(s.id)">Update</button></td>
    </tr>
</tbody>
</table>